@import "../globalFunctions";

.mobileMenu {
    display: none;
    @include media("md") {
        display: block;
    }

    &__list {
        margin: pxToRem(6) 0;
        list-style: none;
        font-size: pxToRem(13);
        text-align: center;
    }

    &__listItem {
        padding: 0 pxToRem(5);
    }

    &__navLink {
        position: relative;
        display: block;
        height: pxToRem(75);
        width: pxToRem(70);
        padding-top: pxToRem(1);
        text-decoration: none;
        color: var(--lightness2);
    }

    &__iconCircle {
        display: block;
        width: pxToRem(50);
        height: pxToRem(50);
        margin: pxToRem(2.5) auto;
        border-radius: 50%;
        background-color: var(--lightness2-1);
    }

    &__icon {
        top: pxToRem(27.5);
        right: pxToRem(22.5);
    }

    &__icon,
    &__icon::before,
    &__icon::after {
        position: absolute;
        display: block;
        width: pxToRem(25);
        height: pxToRem(2);
        background: var(--lightness2);
        transition: all var(--transition1);
    }

    &__icon::before,
    &__icon::after {
        content: "";
    }

    &__icon::before {
        top: pxToRem(-7);
    }

    &__icon::after {
        top: pxToRem(7);
    }

    &__navLink--active &__icon {
        transform: rotate(225deg);
    }

    &__navLink--active &__icon::before,
    &__navLink--active &__icon::after {
        transform: rotate(-450deg);
        top: 0;
    }

}