@import "../globalFunctions";

.mobileMenu {
    display: none;
    @include media("md") {
        display: block;
    }

    &__list {
        margin: pxToRem(6) 0;
        list-style: none;
        font-size: pxToRem(13);
        text-align: center;
    }

    &__listItem {
        padding: 0 pxToRem(5);
    }

    &__button {
        position: relative;
        display: block;
        height: pxToRem(75);
        width: pxToRem(75);
        padding-top: pxToRem(1);
        border: none;
        color: var(--lightness2);
        text-decoration: none;
        background: none;
        cursor: pointer;
    }

    &__iconCircle {
        display: block;
        width: pxToRem(50);
        height: pxToRem(50);
        margin: pxToRem(2.5) auto;
        border-radius: 50%;
        background-color: var(--lightness2-1);
    }

    &__icon {
        top: pxToRem(28.5);
        right: pxToRem(25);
    }

    &__icon,
    &__icon::before,
    &__icon::after {
        position: absolute;
        display: block;
        width: pxToRem(25);
        height: pxToRem(2);
        background: var(--lightness2);
        transition: all var(--transition1);
    }

    &__icon::before,
    &__icon::after {
        content: "";
    }

    &__icon::before {
        top: pxToRem(-7);
    }

    &__icon::after {
        top: pxToRem(7);
    }

    &__button--active &__icon {
        transform: rotate(225deg);
    }

    &__button--active &__icon::before,
    &__button--active &__icon::after {
        transform: rotate(-450deg);
        top: 0;
    }
}