@import "../globalFunctions";

.overviewData {
    border-radius: pxToRem(6);
    margin: pxToRem(10);
    text-align: center;
    background-color: var(--lightness1-2);

    &__name {
        padding-bottom: pxToRem(20);
        margin: 0;
        font-size: pxToRem(13);
        color: var(--lightness2);
    }

    &__value {
        padding-top: pxToRem(20);
        margin: 0;
        font-size: pxToRem(20);
        font-weight: 300;
    }

    &--color2 &__value {
        color: var(--color2);
    }

    &--color3 &__value {
        color: var(--color3);
    }

    &--color4 &__value {
        color: var(--color4);
    }

    &--color5 &__value {
        color: var(--color5);
    }

    &--color6 &__value {
        color: var(--color6);
    }

}

