@import "../globalFunctions";

.secondaryMenu {

    &__list {
        display: flex;
        text-align: center;
        list-style: none;
        font-size: pxToRem(13);
        @include media("tablet") {
            display: none;
        }
    }

    &__listItem {
        position: relative;
        padding: 0 pxToRem(5);
    }

    &__navLink {
        display: block;
        height: pxToRem(100);
        width: pxToRem(100);
        padding-top: pxToRem(12);
        text-decoration: none;
        color: var(--lightness2);
        transition: var(--transition1);
        &:hover,
        &:focus {
            color: var(--color1);
        }
        &:hover .secondaryMenu__icon,
        &:focus .secondaryMenu__icon {
            color: var(--lightness2);
            background-color: var(--color1);
            transform: scale(1.1);
        }
        &--active {
            background-color: var(--color1-1);
        }
        &--active::after {
            content: "";
            position: absolute;
            top: pxToRem(-2.75);
            left: pxToRem(12.5);
            width: pxToRem(85);
            height: pxToRem(5.5);
            border-radius: pxToRem(5);
            background-color: var(--color1);
        }
    }

    &__icon {
        display: block;
        width: pxToRem(50);
        height: pxToRem(50);
        padding: pxToRem(12) 0;
        margin: pxToRem(5) auto;
        border-radius: 50%;
        background-color: var(--lightness2-1);
        transition: var(--transition1);
    }
}