@import "../globalFunctions";

.userSettings {
    border: 0.4375rem solid var(--color1-1);
    border-radius: 0.4375rem;
    background-color: var(--lightness1-1);

    &__title {
        padding: pxToRem(11) pxToRem(18) pxToRem(19);
        margin: 0;
        font-size: pxToRem(20);
        font-weight: 500;
        color: var(--lightness2);
        background-color: var(--color1-1);
    }

    &__content {
        height: calc(100vh - var(--insideBoxXL));
        min-height: pxToRem(550);
        overflow-y: auto;
        @include media("md") {
            height: calc(100vh - var(--insideBoxMD));
        }
        @include media("sm") {
            height: calc(100vh - var(--insideBoxSM));
        }

        .MuiListItem-root {
            min-height: 4.375rem !important;
        }
    }
}