@import "../../globalFunctions";

.dataTableHidden {
    display: none;
}

.dataTable {
    grid-area: table;
    padding: pxToRem(30) pxToRem(30) pxToRem(75) pxToRem(30);
    border: pxToRem(1) solid var(--color1);
    border-radius: pxToRem(6);
    margin: pxToRem(4);
    background: var(--lightness1-2);

    &--color2 {
        border-color: var(--color2);
    }

    &--color3 {
        border-color: var(--color3);
    }

    &--color4 {
        border-color: var(--color4);
    }

    &--color5 {
        border-color: var(--color5);
    }

    &--color6 {
        border-color: var(--color6);
    }

    &__table {
        width: 100%;
    }

    &__head {
        font-size: pxToRem(20);
        font-weight: 300;
    }

    &--color2 &__head {
        color: var(--color2);
    }

    &--color3 &__head {
        color: var(--color3);
    }

    &--color4 &__head {
        color: var(--color4);
    }

    &--color5 &__head {
        color: var(--color5);
    }

    &--color6 &__head {
        color: var(--color6);
    }

    &__headCell {
        padding: pxToRem(0) pxToRem(10) pxToRem(10) pxToRem(10);
    }

    &__bodyCell {
        padding: pxToRem(5) pxToRem(10);
        border-top: pxToRem(1) solid var(--lightness2);
        border-bottom: pxToRem(1) solid var(--lightness2);
    }
}