@import "../../globalFunctions";

.dataTableHidden {
    display: none;
}

.dataTable {
    grid-area: table;
    height: calc(100vh - var(--insideDataMainXL));
    min-height: pxToRem(550);
    padding: pxToRem(30) pxToRem(30) pxToRem(75) pxToRem(30);
    border: pxToRem(1) solid var(--color1);
    border-radius: pxToRem(6);
    margin: pxToRem(4);
    background: var(--lightness1-2);
    overflow-y: scroll;
    transition: height var(--transition1);
    @include media("md") {
        height: calc(100vh - var(--insideDataMainMD));
    }
    @include media("sm") {
        height: calc(100vh - var(--insideDataMainSM));
        min-height: auto;
    }

    &.dataTable--filtersVisible {
         @include media("sm") {
             height: calc((100vh - var(--insideDataMainSM)) / 2 + 7px);
         }
    }

    &--color2 {
        border-color: var(--color2);

        .dataTable__table .MuiDataGrid-columnHeaderTitle {
            color: var(--color2);
        }
    }

    &--color3 {
        border-color: var(--color3);

        .dataTable__table .MuiDataGrid-columnHeaderTitle {
            color: var(--color3);
        }
    }

    &--color4 {
        border-color: var(--color4);

        .dataTable__table .MuiDataGrid-columnHeaderTitle {
            color: var(--color4);
        }
    }

    &--color5 {
        border-color: var(--color5);

        .dataTable__table .MuiDataGrid-columnHeaderTitle {
            color: var(--color5);
        }
    }

    &--color6 {
        border-color: var(--color6);

        .dataTable__table .MuiDataGrid-columnHeaderTitle {
            color: var(--color6);
        }
    }
}