@import "../../globalFunctions";

.dataChartsHidden {
    display: none;
}

.dataCharts {
    grid-area: charts;
    padding: pxToRem(30) pxToRem(30) pxToRem(75) pxToRem(30);
    border: pxToRem(1) solid var(--color1);
    border-radius: pxToRem(6);
    margin: pxToRem(4);
    background: var(--lightness1-2);

    &--color2 {
        border-color: var(--color2);
    }

    &--color3 {
        border-color: var(--color3);
    }

    &--color4 {
        border-color: var(--color4);
    }

    &--color5 {
        border-color: var(--color5);
    }

    &--color6 {
        border-color: var(--color6);
    }
}