@import "../../globalFunctions";

.insideBox {
    display: grid;
    position: relative;
    grid: "filters handle table"
          "filters handle charts" /
          auto pxToRem(13) 1fr;
    border: pxToRem(1) solid var(--color1);
    border-radius: pxToRem(10);
    margin-top: pxToRem(10);
    background: var(--color1-1);
    @include media("sm") {
        grid: "filters"
              "handle"
              "table"
              "charts" /
              auto;
    }
}