@import "../../globalFunctions";

.insideBox {
    position: relative;
    display: grid;
    grid: "filters table"
          "filters charts";
    border: pxToRem(1) solid var(--color1);
    border-radius: pxToRem(10);
    margin-top: pxToRem(10);
    background: var(--color1-1);
}