@import "../../../globalFunctions";

.toolUserEditor {
    border: pxToRem(7) solid var(--color1-1);
    border-radius: pxToRem(7);
    background-color: var(--lightness1-1);

    &__titlebox {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: pxToRem(1) pxToRem(1) pxToRem(9) pxToRem(18);
        margin: 0;
        background-color: var(--color1-1);
    }

    &__title {
        padding-top: pxToRem(3);
        margin: 0;
        font-size: pxToRem(20);
        font-weight: 500;
        color: var(--lightness2);
    }

    &__close {
        height: pxToRem(50);
    }

    &__form {
        margin: 0 auto;
        padding: pxToRem(50) 0;
        width: pxToRem(500);
        @include media("sm") {
            width: 85%;
        }
    }
}

.input-field-label {
    .MuiInputBase-root{
        width: 100%;
    }
}
.MuiGrid2-root > .MuiInputLabel-root {
    font-size: pxToRem(13);
    padding-bottom: pxToRem(5);
}