@import "../../../globalFunctions";

.toolUserEditor {

    &__content {
        justify-content: safe center;
    }

    &__form {
        margin: auto;
        padding: pxToRem(50) 0;
        width: pxToRem(500);
        @include media("sm") {
            width: 85%;
        }
    }
}

.input-field-label {
    .MuiInputBase-root{
        width: 100%;
    }
}
.MuiGrid2-root > .MuiInputLabel-root {
    font-size: pxToRem(13);
    padding-bottom: pxToRem(5);
}