@import "globalFunctions";

#root {
    width: 100%;
    height: 100%;
}
.themeLight,
.themeDark {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    .app {
        margin: 0 auto;
        max-width: pxToRem(1500);
    }
}
.themeLight {
    background-image: url("./assets/background-light.jpg"); /* Fallback "image-set" */
    background-image: image-set(
            url("./assets/background-light.avif") type("image/avif"),
            url("./assets/background-light.webp") type("image/webp"),
            url("./assets/background-light.jpg") type("image/jpeg")
    );
}
.themeDark {
    background-image: url("./assets/background-dark.jpg"); /* Fallback "image-set" */
    background-image: image-set(
            url("./assets/background-dark.avif") type("image/avif"),
            url("./assets/background-dark.webp") type("image/webp"),
            url("./assets/background-dark.jpg") type("image/jpeg")
    );
}