@import "globalFunctions";

html {
    width: 100%;
    height: 100%;
    font: 400 medium/1.5 Roboto, sans-serif;
}
body {
    letter-spacing: 0 !important;
}
.app {
    display: grid;
    grid: "header header" auto
          "sidebar main" auto /
          pxToRem(100) auto;
    align-content: start;
    min-height: calc(100vh - pxToRem(40));
    min-width: pxToRem(300);
    max-width: pxToRem(1800);
    border-radius: pxToRem(10);
    margin: 0 auto;
    background-color: var(--lightness1-1);
    @include media("md") {
        grid: "header header" auto
              "main main" auto /
              auto;
        min-height: calc(100vh - pxToRem(24));
    }
    @include media("sm") {
        min-height: calc(100vh - pxToRem(14));
    }
    @include media("xs") {
        min-height: 100vh;
        border-radius: 0;
    }
}
.main {
    grid-area: main;
    padding: pxToRem(25);
    @include media("md") {
        padding: pxToRem(15);
    }
    @include media("sm") {
        padding: pxToRem(10);
    }

    &__contentHidden,
    &__mobileMenuHidden {
        display: none;
    }
}
h1 {
    font-weight: 300;
    @include media("lg") {
        font-size: pxToRem(28);
    }
    @include media("md") {
        font-size: pxToRem(22);
    }
    @include media("sm") {
        font-size: pxToRem(18);
    }
}
.theme--dark {
    background-image: url("./assets/background-dark.jpg"); /* Fallback "image-set" */
    background-image: image-set(
        url("./assets/background-dark.avif") type("image/avif"),
        url("./assets/background-dark.webp") type("image/webp"),
        url("./assets/background-dark.jpg") type("image/jpeg")
    );
}
.theme--light {
    background-image: url("./assets/background-light.jpg"); /* Fallback "image-set" */
    background-image: image-set(
        url("./assets/background-light.avif") type("image/avif"),
        url("./assets/background-light.webp") type("image/webp"),
        url("./assets/background-light.jpg") type("image/jpeg")
    );
}
.theme--dark,
.theme--light {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: auto scroll;
    scrollbar-color: var(--lightness4) var(--lightness1-4);
    height: 100vh;
    width: 100%;
    padding: pxToRem(20);
    @include media("md") {
        padding: pxToRem(12);
    }
    @include media("sm") {
        padding: pxToRem(7);
    }
    @include media("xs") {
        padding: 0;
    }
}