@import "globalFunctions";

html {
    width: 100%;
    height: 100%;
}
.themeDark {
    background-image: url("./assets/background-dark.jpg"); /* Fallback "image-set" */
    background-image: image-set(
        url("./assets/background-dark.avif") type("image/avif"),
        url("./assets/background-dark.webp") type("image/webp"),
        url("./assets/background-dark.jpg") type("image/jpeg")
    );
}
.themeLight {
    background-image: url("./assets/background-light.jpg"); /* Fallback "image-set" */
    background-image: image-set(
        url("./assets/background-light.avif") type("image/avif"),
        url("./assets/background-light.webp") type("image/webp"),
        url("./assets/background-light.jpg") type("image/jpeg")
    );
}
.themeDark,
.themeLight {
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: pxToRem(20);
    .app {
        max-width: pxToRem(1800);
        border-radius: pxToRem(10);
        margin: 0 auto;
        background-color: var(--lightness1-1);
    }
}