/* Heights */
:root {
    --insideDataMainXL:    24.15625rem; // Data Table, Data Charts:   40 + 135 + 50 + 139.5 + 12 + 10           = 386.50px
    --insideDataMainMD:    23.91875rem; // Data Table, Data Charts:   24 + 100 + 30 + 206.7 + 12 + 10           = 382.70px
    --insideDataMainSM:    23.91875rem; // Data Table, Data Charts:   14 + 100 + 20 + 206.7 + 12 + 7 + 13 + 10  = 382.70px
    --insideDataFiltersXL: 23.65625rem; // Data Filters, Data Handle: 40 + 135 + 50 + 139.5 + 12 + 2            = 378.50px
    --insideDataFiltersMD: 23.41875rem; // Data Filters, Data Handle: 24 + 100 + 30 + 206.7 + 12 + 2            = 374.70px
    --insideBoxXL:         23.42750rem; // Tools, My Account:         40 + 135 + 50 + 36 + 39.84 + 14 + 50 + 10 = 374.84px
    --insideBoxMD:         18.99000rem; // Tools, My Account:         24 + 100 + 30 + 36 + 39.84 + 14 + 50 + 10 = 303.84px
    --insideBoxSM:         16.95000rem; // Tools, My Account:         14 + 100 + 20 + 30 + 33.2 + 14 + 50 + 10  = 271.20px
}


/* Breakpoints */
// For Material UI in App.tsx:
:root {
    --xs:  320;
    --sm:  640;
    --md:  960;
    --lg: 1440;
    --xl: 1840;
}
// For Mixins in globalFunctions.scss (1 pixel smaller than in App.tsx):
$xs:  319;
$sm:  639;
$md:  959;
$lg: 1439;
$xl: 1839;


/* All Colors, Colors Dark Theme */
:root {
    --lightness1:   rgba(  0,   0,   0, 1.00); // Black
    --lightness1-1: rgba(  0,   0,   0, 0.70); // Black Opacity 70%
    --lightness1-2: rgba(  0,   0,   0, 0.55); // Black Opacity 55%
    --lightness1-3: rgba(  0,   0,   0, 0.30); // Black Opacity 30%
    --lightness1-4: rgba(  0,   0,   0, 0.30); // Black Opacity 30%
    --lightness2:   rgba(255, 255, 255, 1.00); // White
    --lightness2-1: rgba(255, 255, 255, 0.20); // White Opacity 20%
    --lightness3:   rgba( 66,  66,  66, 1.00); // Dark Grey
    --lightness4:   rgba(117, 117, 117, 1.00); // Middle Grey
    --lightness5:   rgba(238, 238, 238, 1.00); // Light Grey
    --color1:       rgba(  0, 159, 227, 1.00); // Blue
    --color1-1:     rgba(  0, 159, 227, 0.25); // Blue Opacity 25%
    --color1-2:     rgba(  0, 159, 227, 0.40); // Blue Opacity 40%
    --color2:       rgba(255, 241, 117, 1.00); // For Dark Theme: Yellow
    --color3:       rgba(255, 183,  77, 1.00); // For Dark Theme: Orange
    --color4:       rgba(229, 115, 115, 1.00); // For Dark Theme: Red
    --color5:       rgba(206, 147, 216, 1.00); // For Dark Theme: Pink
    --color6:       rgba(129, 199, 132, 1.00); // For Dark Theme: Green
    --color7:       rgba(184, 128,   0, 1.00); // For Light Theme: Yellow
    --color8:       rgba(245, 124,   0, 1.00); // For Light Theme: Orange
    --color9:       rgba(216,  27,  96, 1.00); // For Light Theme: Red
    --color10:      rgba(142,  36, 170, 1.00); // For Light Theme: Pink
    --color11:      rgba( 56, 142,  60, 1.00); // For Light Theme: Green
    --error:        rgba(244,  67,  54, 1.00); // Red
    --success:      rgba( 76, 175,  80, 1.00); // Green
}


/* Colors Light Theme */
.theme--light {
    --lightness1:   rgba(255, 255, 255, 1.00); // White
    --lightness1-1: rgba(255, 255, 255, 0.85); // White Opacity 85%
    --lightness1-2: rgba(255, 255, 255, 0.55); // White Opacity 55%
    --lightness1-3: rgba(  0,   0,   0, 0.20); // Black Opacity 20%
    --lightness1-4: rgba(255, 255, 255, 0.30); // White Opacity 30%
    --lightness2:   rgba(  0,   0,   0, 1.00); // Black
    --lightness2-1: rgba(  0,   0,   0, 0.15); // Black Opacity 15%
    --lightness3:   rgba(238, 238, 238, 1.00); // Light Grey
    --color2:       rgba(184, 128,   0, 1.00); // For Light Theme: Yellow
    --color3:       rgba(245, 124,   0, 1.00); // For Light Theme: Orange
    --color4:       rgba(216,  27,  96, 1.00); // For Light Theme: Red
    --color5:       rgba(142,  36, 170, 1.00); // For Light Theme: Pink
    --color6:       rgba( 56, 142,  60, 1.00); // For Light Theme: Green
}


/* Transitions */
:root {
    --transition1: 300ms ease-in-out;
}