@import "../../../globalFunctions";

.charts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    text-align: center;
    gap: pxToRem(75) pxToRem(5);

    & .MuiPieArcLabel-root {
        fill: black;
        text-shadow: 0 0 pxToRem(3) white,
                     0 0 pxToRem(6) white,
                     0 0 pxToRem(9) white,
                     0 0 pxToRem(12) white,
                     0 0 pxToRem(15) white,
                     0 0 pxToRem(18) white,
                     0 0 pxToRem(21) white,
                     0 0 pxToRem(24) white,
                     0 0 pxToRem(27) white,
                     0 0 pxToRem(30) white;
    }
}