/**This file is used to store the production secret settings.
Copy this file to/as prod.settings.secrets.json
Delete the these comment liens
Fill in the secrets / values.
**/

{
  "db_connection": {
    "password": "yourpassword"
  }
}