@import "../../globalFunctions";

.overviewData {
    grid-area: data;
    display: flex;
    flex-flow: row wrap;
    gap: pxToRem(7);
    padding: pxToRem(10);
    @include media("md") {
        flex-flow: row nowrap;
        overflow: auto;
    }

    &__item {
        min-width: pxToRem(145);
        padding: pxToRem(10) 0 pxToRem(10) pxToRem(10);
        border-radius: pxToRem(6);
        text-align: center;
        background-color: var(--lightness1-2);
    }

    &__line {
        border-left: pxToRem(1) solid var(--color1);
    }

    &--color2 &__line {
        border-color: var(--color2);
    }

    &--color3 &__line {
        border-color: var(--color3);
    }

    &--color4 &__line {
        border-color: var(--color4);
    }

    &--color5 &__line {
        border-color: var(--color5);
    }

    &--color6 &__line {
        border-color: var(--color6);
    }

    &__name {
        padding: 0 pxToRem(5) pxToRem(20) pxToRem(5);
        margin: 0;
        font-size: pxToRem(13);
        color: var(--lightness2);
    }

    &__value {
        padding: pxToRem(20) pxToRem(5) 0 pxToRem(5);
        margin: 0;
        font-size: pxToRem(20);
        font-weight: 300;
    }

    &--color2 &__value {
        color: var(--color2);
    }

    &--color3 &__value {
        color: var(--color3);
    }

    &--color4 &__value {
        color: var(--color4);
    }

    &--color5 &__value {
        color: var(--color5);
    }

    &--color6 &__value {
        color: var(--color6);
    }

}

