@import "../../globalFunctions";

.overviewCard {
    display: grid;
    grid: "data title"
          "data title" /
          auto auto;
    padding: 0 pxToRem(10) 0 0;
    border-radius: pxToRem(6);
    background-color: var(--color1-1);
    background-image: linear-gradient(to left, var(--color1), transparent);

    &__title {
        grid-area: title;
        display: flex;
        flex-flow: row-reverse nowrap;
        align-items: center;
        justify-content: flex-start;
        gap: pxToRem(25);
        padding: pxToRem(10);
        border-radius: pxToRem(6);
    }

    &__icon {
        display: block;
        width: pxToRem(80);
        height: pxToRem(80);
        padding: pxToRem(22) 0;
        border-radius: 50%;
        text-align: center;
        color: var(--lightness2);
        background-color: var(--lightness1-3);
    }

    &__name {
        color: var(--lightness2);
        font-size: pxToRem(24);
        font-weight: 400;
    }
}